<div class="aboutComponent">

  <div class="aboutHeader border-bottom border-2 py-3 px-2">
    <span class="backArrow">

      <a routerLink="/more">
        <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-chevron-left" viewBox="0 0 16 16">
          <path fill-rule="evenodd" d="M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z"/>
        </svg>
      </a>

    </span>

    <span class="fw-bold">{{ "ABOUT US_COM.ABOUT" | translate }}</span>

  </div>

  <div class="aboutContant languageEffect p-4">

    <p> {{ "ABOUT US_COM.FIRST_PARA" | translate }} </p>

    <p> {{ "ABOUT US_COM.SECOND_PARA" | translate }} </p>

    <p> {{ "ABOUT US_COM.OFFERS_INTRO" | translate }} </p>

    <p> {{ "ABOUT US_COM.FIRST_OFFER_TITLE" | translate }} </p>

    <p> {{ "ABOUT US_COM.FIRST_OFFER_DESCRIPTION" | translate }} </p>

    <p> {{ "ABOUT US_COM.SECOND_OFFER_TITLE" | translate }} </p>

    <p> {{ "ABOUT US_COM.SECOND_OFFER_DESCRIPTION" | translate }} </p>

    <p> {{ "ABOUT US_COM.THIRD_OFFER_TITLE" | translate }} </p>

    <p> {{ "ABOUT US_COM.THIRD_OFFER_DESCRIPTION" | translate }} </p>

    <p> {{ "ABOUT US_COM.END" | translate }} </p>

  </div>

</div>



