<div class="aboutComponent d-f fleD-c minH-100dvh">

  <header class="aboutHeader">

    <h3 class="texA-c marY-10">{{ "ABOUT_COM.ABOUT" | translate }}</h3>

    <a routerLink="/more">
      <img src="/assets/icons/backArrowIcon.svg" alt="backArrowIcon" class="img24Px">
    </a>

  </header>

  <main class="aboutContant fleG-1 m-20 languageEffect">

    <p class="marB-15"> {{ "ABOUT_COM.FIRST_PARA" | translate }} </p>

    <p class="marB-15"> {{ "ABOUT_COM.SECOND_PARA" | translate }} </p>

    <p class="marB-15"> {{ "ABOUT_COM.OFFERS_INTRO" | translate }} </p>

    <h6  class="marB-15"> {{ "ABOUT_COM.FIRST_OFFER_TITLE" | translate }} </h6>

    <p  class="marB-15"> {{ "ABOUT_COM.FIRST_OFFER_DESCRIPTION" | translate }} </p>

    <h6  class="marB-15"> {{ "ABOUT_COM.SECOND_OFFER_TITLE" | translate }} </h6>

    <p  class="marB-15"> {{ "ABOUT_COM.SECOND_OFFER_DESCRIPTION" | translate }} </p>

    <h6  class="marB-15"> {{ "ABOUT_COM.THIRD_OFFER_TITLE" | translate }} </h6>

    <p  class="marB-15"> {{ "ABOUT_COM.THIRD_OFFER_DESCRIPTION" | translate }} </p>

    <p> {{ "ABOUT_COM.END" | translate }} </p>

  </main>

  <bottom-nav></bottom-nav>

</div>



