<div class="topNavCom padX-20 padY-10">

  <div class="searchBar padX-5 marB-16">

    <select class="form-select roundedShape" id="clubNames" [(ngModel)]="selectedClubName" (change)="clubSelected(selectedClubName)">
      <option *ngFor="let clubName of clubsNames" [value]="clubName"> {{ clubName }} </option>
    </select>

  </div>

  <div class="places d-f aliI-c jusC-spaB">

    <a class="hotels d-f fleD-c aliI-c" routerLink="/home/hotels">
      <img src="/assets/icons/hotelIcon.svg" alt="hotelIcon">
      <span>{{ "HOTELS" | translate }}</span>
    </a>

    <a class="Restaurants d-f fleD-c aliI-c" routerLink="/home/restaurants">
      <img src="/assets/icons/restaurantIcon.svg" alt="restaurantIcon">
      <span>{{ "RESTAURANTS" | translate }}</span>
    </a>

    <a class="Mosques d-f fleD-c aliI-c" routerLink="/home/mosques">
      <img src="/assets/icons/mosqueIcon.svg" alt="mosqueIcon">
      <span>{{ "MOSQUES" | translate }}</span>
    </a>

  </div>

</div>



