<div class="loginCom px-4 py-2 languageEffect">
  <div class="header text-center">
    <h2>HALAL WEEKEND</h2>
    <p>Your halal weekend starts here</p>
  </div>
  <div class="">
    <form (ngSubmit)="save(reactiveForm)" [formGroup]="reactiveForm">

      <div class="form-group">
        <label for="full-name">{{ 'LOGIN_COM.FULL NAME' | translate }}*</label>
        <input
          id="full-name" type="text" class="form-control" placeholder="{{ 'LOGIN_COM.FN PLACE HOLDER' | translate }}"
          formControlName="fullName"
        >
      </div>
      <p
        class="text-danger"
        *ngIf="reactiveForm.controls['fullName'].errors && reactiveForm.controls['fullName'].touched"
      >{{ 'LOGIN_COM.FULL NAME REQUIRED' | translate }}</p>

      <div class="form-group">
        <label for="gender">{{ 'LOGIN_COM.GENDER' | translate }}*</label>
        <div class="input-group">
          <div class="form-check form-check-inline">
            <input
              class="form-check-input" type="radio" id="inlineRadio1"
              name="gender"
              formControlName="gender" value="male"
            >
            <label class="form-check-label" for="inlineRadio1">{{ 'LOGIN_COM.MALE' | translate }}</label>
          </div>
          <div class="form-check form-check-inline">
            <input
              class="form-check-input" type="radio" id="inlineRadio2"
              name="gender"
              formControlName="gender" value="female"
            >
            <label class="form-check-label" for="inlineRadio2">{{ 'LOGIN_COM.FEMALE' | translate }}</label>
          </div>
        </div>
      </div>
      <p
        class="text-danger"
        *ngIf="reactiveForm.controls['gender'].errors && reactiveForm.controls['gender'].touched"
      >{{ 'LOGIN_COM.GENDER REQUIRED' | translate }}</p>

      <div class="form-group">
        <label for="country">{{ 'LOGIN_COM.COUNTRY' | translate }}</label>
        <select
          id="country" type="text" class="form-select"
          formControlName="country"
        >
          <option value="" hidden disabled selected>{{ 'LOGIN_COM.PLEASE SELECT' | translate }}</option>
          <option *ngFor="let country of countries" [value]="country"> {{ country }} </option>
        </select>
      </div>
      <p
        class="text-danger"
        *ngIf="reactiveForm.controls['country'].errors && reactiveForm.controls['country'].touched"
      >{{ 'LOGIN_COM.COUNTRY REQUIRED' | translate }}</p>

      <div class="form-group">
        <label for="interests">{{ 'LOGIN_COM.INTERESTS' | translate }}</label>
        <select
          id="interests" type="text" class="form-select"
          formControlName="interests"
        >
          <option value="" hidden disabled selected>{{ 'LOGIN_COM.PLEASE SELECT' | translate }}</option>
          <option value="Football tickets" >
            Football tickets
          </option>
        </select>
      </div>
      <p
        class="text-danger"
        *ngIf="reactiveForm.controls['interests'].errors && reactiveForm.controls['interests'].touched"
      >{{ 'LOGIN_COM.INTERESTS REQUIRED' | translate }}</p>

      <div class="form-group">
        <label for="email">{{ 'LOGIN_COM.EMAIL' | translate }}</label>
        <input
          id="email" type="text" class="form-control" placeholder="ahmadbenchakhti@gmail.com"
          formControlName="email"
        >
      </div>
      <div *ngIf="reactiveForm.controls['email'].touched">
        <p
          class="text-danger"
          *ngIf="reactiveForm.controls['email'].errors?.['required']"
        >{{ 'LOGIN_COM.EMAIL REQUIRED' | translate }}</p>
        <p
          class="text-danger"
          *ngIf="reactiveForm.controls['email'].errors?.['email']"
        >{{ 'LOGIN_COM.EMAIL INVALID' | translate }}</p>
      </div>

      <div>
        <button
          class="btn m-2 border d-block" type="submit"
          [class.inactive]="reactiveForm.invalid"
          (click)="skip()"
        >{{ 'LOGIN_COM.CONTINUE' | translate }}</button>
        <p
          class="text-danger"
          *ngIf="invalidFrom && reactiveForm.invalid"
        >{{ 'LOGIN_COM.FILL ALL' | translate }}</p>
        <button
          type="button" class="btn m-2 border d-block"
          (click)="skip()"
        >{{ 'LOGIN_COM.SKIP' | translate }}</button>
      </div>

    </form>
  </div>
</div>
