<div class="loginCom padX-25 languageEffect minH-100dvh">
  <div class="header texA-c marB-40">
    <h2 class="padT-25 marB-15">HALAL WEEKEND</h2>
    <p>Your halal weekend starts here</p>
  </div>
  <div class="">
    <form (ngSubmit)="save(reactiveForm)" [formGroup]="reactiveForm">

      <div class="form-group marB-15">
        <label class="marB-10" for="full-name">{{ 'LOGIN_COM.FULL NAME' | translate }}*</label>
        <input
          id="full-name" type="text"
          class="form-control roundedShape customBorder" placeholder="{{ 'LOGIN_COM.FN PLACE HOLDER' | translate }}"
          formControlName="fullName" autocomplete="name"
        >
      </div>
      <p
        class="text-danger"
        *ngIf="reactiveForm.controls['fullName'].errors && reactiveForm.controls['fullName'].touched"
      >{{ 'LOGIN_COM.FULL NAME REQUIRED' | translate }}</p>

      <div class="form-group  marB-15">
        <span>{{ 'LOGIN_COM.GENDER' | translate }}*</span>
        <div class="input-group marT-10">
          <div class="form-check form-check-inline">
            <input
              class="form-check-input" type="radio" id="male"
              name="gender"
              formControlName="gender" value="male"
            >
            <label class="form-check-label" for="male">{{ 'LOGIN_COM.MALE' | translate }}</label>
          </div>
          <div class="form-check form-check-inline">
            <input
              class="form-check-input" type="radio" id="female"
              name="gender"
              formControlName="gender" value="female"
            >
            <label class="form-check-label" for="female">{{ 'LOGIN_COM.FEMALE' | translate }}</label>
          </div>
        </div>
      </div>
      <p
        class="text-danger"
        *ngIf="reactiveForm.controls['gender'].errors && reactiveForm.controls['gender'].touched"
      >{{ 'LOGIN_COM.GENDER REQUIRED' | translate }}</p>

      <div class="form-group marB-15">
        <label class="marB-10" for="country">{{ 'LOGIN_COM.COUNTRY' | translate }}</label>
        <select
          id="country" type="text" class="form-select roundedShape customBorder"
          formControlName="country" autocomplete="country-name"
        >
          <option class="defaultOption" value="" hidden disabled selected>{{ 'LOGIN_COM.PLEASE SELECT' | translate }}</option>
          <option *ngFor="let country of countries" [value]="country"> {{ country }} </option>
        </select>
      </div>
      <p
        class="text-danger"
        *ngIf="reactiveForm.controls['country'].errors && reactiveForm.controls['country'].touched"
      >{{ 'LOGIN_COM.COUNTRY REQUIRED' | translate }}</p>

      <div class="form-group marB-15">
        <label class="marB-10" for="interests">{{ 'LOGIN_COM.INTERESTS' | translate }}</label>
        <select
          id="interests" type="text" class="form-select roundedShape customBorder"
          formControlName="interests"
        >
          <option class="defaultOption" value="" hidden disabled selected>{{ 'LOGIN_COM.PLEASE SELECT' | translate }}</option>
          <option value="Football tickets" >
            Football tickets
          </option>
        </select>
      </div>
      <p
        class="text-danger"
        *ngIf="reactiveForm.controls['interests'].errors && reactiveForm.controls['interests'].touched"
      >{{ 'LOGIN_COM.INTERESTS REQUIRED' | translate }}</p>

      <div class="form-group marB-15">
        <label class="marB-10" for="email">{{ 'LOGIN_COM.EMAIL' | translate }}</label>
        <input
          id="email" type="text" class="form-control roundedShape customBorder" placeholder="Halaweekend@gmail.com"
          formControlName="email" autocomplete="email"
        >
      </div>
      <div *ngIf="reactiveForm.controls['email'].touched">
        <p
          class="text-danger"
          *ngIf="reactiveForm.controls['email'].errors?.['required']"
        >{{ 'LOGIN_COM.EMAIL REQUIRED' | translate }}</p>
        <p
          class="text-danger"
          *ngIf="reactiveForm.controls['email'].errors?.['email']"
        >{{ 'LOGIN_COM.EMAIL INVALID' | translate }}</p>
      </div>

      <div class="marT-40">
        <button
          class="btn width-100 roundedShape ctaBtn continue languageEffect"
          type="submit"
          [class.validForm]="reactiveForm.valid"
          (click)="save(reactiveForm)"
        >
          <span>{{ 'LOGIN_COM.CONTINUE' | translate }}</span>
          <img
            [src]="reactiveForm.valid ?
              '/assets/icons/forwardWhiteIcon.svg' :
              '/assets/icons/forwardIcon.svg'
            "
            alt="forwardIcon" class="forwardIcon"
          >
        </button>
        <p
          class="text-danger"
          *ngIf="invalidFrom && reactiveForm.invalid"
        >{{ 'LOGIN_COM.FILL ALL' | translate }}</p>
        <button
          class="btn width-100 roundedShape ctaBtn skip languageEffect"
          type="button"
          (click)="skip()"
        >
          <span>{{ 'LOGIN_COM.SKIP' | translate }}</span>
          <img src="/assets/icons/skipArrowsIcon.svg" alt="skipArrowsIcon" class="skipArrowsIcon">
        </button>
      </div>

    </form>
  </div>
</div>
