<div class="contactComponent d-f fleD-c minH-100dvh">

  <header class="contactHeader padX-20">

    <h3 class="texA-c marY-10">{{ "MORE_COM.CONTACT US" | translate }}</h3>

    <a routerLink="/more">
      <img src="/assets/icons/backArrowIcon.svg" alt="backArrowIcon" class="img24Px">
    </a>

  </header>

  <main class="contactContant fleG-1 m-20 languageEffect">

  <p class="marB-20 ">
    {{ "CONTACT_COM.PARAGRAPH" | translate }}
  </p>

  <span>{{ "CONTACT_COM.EMAIL" | translate }}</span>

  </main>

  <bottom-nav></bottom-nav>

</div>
