<div class="mosquesComponent d-f fleD-c">

  <top-nav (clubNameSelected)="clubNameSelected($event)"></top-nav>

  <main class="mosques fleG-1 marX-25 marB-15">

    <header class="mosquesHeader marY-20">

      <span class="backArrow">

        <a routerLink="/home">
          <img src="/assets/icons/backArrowIcon.svg" class="img20Px" alt="backArrowIcon">
        </a>

      </span>

  </header>


    <div class="mosque" *ngFor="let mosque of mosques" [routerLink]="['/mosques', mosque.name]">

      <img [src]="mosque.images[0]" alt="mosque image" class="mainPicture marB-15">
      <h6> {{ mosque.name }} </h6>
      <p>
        <img src="/assets/icons/markerIcon.svg" alt="markerIcon" class="icon marR-10">
        <span class="smallText"> {{ mosque.distance }} </span>
      </p>

    </div>

  </main>

  <bottom-nav></bottom-nav>

</div>

<!-- ! Do The Image Cover And Tell Abdo About It. -->
