<div class="restaurantsComponent d-f fleD-c">

  <top-nav (clubNameSelected)="clubNameSelected($event)"></top-nav>

  <main class="restaurants fleG-1 marX-25 marB-15">

    <header class="restaurantsHeader marY-20  d-f aliI-c texA-c">

      <span class="backArrow">

        <a routerLink="/home">
          <img src="/assets/icons/backArrowIcon.svg" class="img20Px" alt="backArrowIcon">
        </a>

      </span>

      <h6 class="fw-bold fleG-1 marB-0">Restaurants</h6>

  </header>

    <div class="restaurant"*ngFor="let restaurant of restaurants" [routerLink]="['/restaurants', restaurant.name]">

      <img [src]="restaurant.images[0]" alt="restaurant image" class="mainPicture marB-15">
      <h6> {{ restaurant.name }} </h6>
      <p>
        <img src="/assets/icons/markerIcon.svg" alt="markerIcon" class="icon marR-10">
        <span class="smallText"> {{ restaurant.distance }} </span>
      </p>

    </div>

  </main>

  <bottom-nav></bottom-nav>

</div>
