<div class="languagesComponent d-flex flex-column vh-100">

  <div class="moreHeader border-bottom border-2 py-3 px-3">
    <span class="backArrow">

      <a routerLink="/more">
        <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-chevron-left" viewBox="0 0 16 16">
          <path fill-rule="evenodd" d="M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z"/>
        </svg>
      </a>

    </span>

    <span class="fw-bold">{{ "LANGUAGES_COM.LANGUAGES" | translate }}</span>

  </div>

  <div class="choseLanguage px-5 flex-grow-1 languageEffect">

    <h2 class="py-3">{{ "LANGUAGES_COM.CHOOSE YOUR LANGUAGE" | translate }}</h2>

    <ul class="languagesList">

      <li class="py-3 ps-2 border-bottom border-2" (click)="changeLanguage('en')">
        {{ "LANGUAGES_COM.ENGLISH" | translate }}
      </li>
      <li class="py-3 ps-2 border-bottom border-2" (click)="changeLanguage('ar')">
        {{ "LANGUAGES_COM.ARABIC" | translate }}
      </li>

    </ul>
  </div>

  <bottom-nav></bottom-nav>

</div>



