<div class="languagesComponent d-f fleD-c minH-100dvh">

  <header class="languagesHeader">

    <h3 class="texA-c marY-10">{{ "LANGUAGES_COM.LANGUAGES" | translate }}</h3>

    <a routerLink="/more"><img src="/assets/icons/backArrowIcon.svg" alt="backArrowIcon"></a>

  </header>

  <main class="choseLanguage languageEffect fleG-1 m-20">

    <h6 class="marB-25">{{ "LANGUAGES_COM.CHOOSE YOUR LANGUAGE" | translate }}</h6>

    <ul class="languagesList">

      <li class="padY-10" (click)="changeLanguage('en')">
        {{ "LANGUAGES_COM.ENGLISH" | translate }}
      </li>
      <li class="padY-10" (click)="changeLanguage('ar')">
        {{ "LANGUAGES_COM.ARABIC" | translate }}
      </li>

    </ul>
  </main>

  <bottom-nav></bottom-nav>

</div>



