<div class="moreComponent d-f fleD-c minH-100dvh">

  <header class="moreHeader padX-20">

    <h3 class="texA-c marY-10">{{ "MORE_COM.MORE" | translate }}</h3>

    <a routerLink="/home">
      <img src="/assets/icons/backArrowIcon.svg" alt="backArrowIcon" class="img24Px">
    </a>

  </header>

  <main class="fleG-1 marX-20">

    <a routerLink="/more/contact" class="d-f aliI-c padT-15 padB-10">

      <img src="/assets/icons/mailIcon.svg" alt="mailIcon" class="img24Px">

      <span class="padX-15 fleG-1">{{ "MORE_COM.CONTACT US" | translate }}</span>

      <img src="/assets/icons/forwardIcon.svg" class="forwardIcon marL-20" alt="forwardIcon">

    </a>

    <a routerLink="/more/about" class="d-f aliI-c padT-15 padB-10">

      <img src="/assets/icons/aboutIcon.svg" alt="aboutIcon" class="img24Px">

    <span class="padX-15 fleG-1">{{ "MORE_COM.ABOUT US" | translate }}</span>

    <img src="/assets/icons/forwardIcon.svg" class="forwardIcon marL-20" alt="forwardIcon">

  </a>

  <a routerLink="/more//languages" class="d-f aliI-c padT-15 padB-10">

    <img src="/assets/icons/languagesIcon.svg" alt="languagesIcon" class="img24Px">

    <span class="padX-15 fleG-1">{{ "MORE_COM.LANGUAGES" | translate }}</span>

    <img src="/assets/icons/forwardIcon.svg" class="forwardIcon marL-20" alt="forwardIcon">
  </a>

  </main>

  <bottom-nav></bottom-nav>

</div>





