.placeCardCom{
  background-color: var(--gray-900);
  color: #EAEAEA;
  border-radius: 5px 0px;
  .bottomBorder{ border-bottom: 1px solid white; }
  .internalCardShape{
    background-color: var(--gray-700);
    padding: 5px 10px;
    border-radius: 5px;
  }
  .placeCardPara{
    line-height: 18px;
    .placeCardIcon{
      width: 18px;
      height: 18px;
    }
  }
  header.placeIntro{
    .placeName{
      gap: 5px;
      .headerIcon{
        width: 27px;
        height: 27px;
      }
    }
    .brief{
      font-size: 1.2;
    }
  }
  main{
    .overview{

    }
  }
  footer{
    .cta{
      padding: 10px 25px;
      border-radius: 5px;
      background-color: var(--gray-700);
    }
  }
}

.detailsImages img{
  width: calc(100% / 5);
  aspect-ratio: 1/1;
}




