.placeCardCom{
  background-color: var(--gray-900);
  color: white;
  border-radius: 5px 0px;
  .bottomBorder{ border-bottom: 1px solid white; }
  .internalCardShape{
    background-color: var(--gray-700);
    padding: 5px 10px;
    border-radius: 5px;
  }
  .placeCardPara{
    line-height: 18px;
    .placeCardIcon{
      width: 18px;
      height: 18px;
    }
  }
  header.placeIntro{
    .placeName{
      gap: 5px;
      .headerIcon{
        width: 27px;
        height: 27px;
      }
    }
  }
  main{
    section {
      overflow-x: auto;
      display: flex;
      align-items: center;
      &.fewImages{
        justify-content: center;
      }
      img{
        width: calc( (100% - 10px) / 3);
        aspect-ratio: 1/1;
        object-fit: cover;
        &:not(:last-child){
          margin-right: 5px;
        }
      }
    }
  }
  footer{
    .cta{
      padding: 10px 25px;
      border-radius: 5px;
      background-color: var(--gray-700);
    }
  }
}


