<div class="placeCardCom padX-25 padY-30" (click)="toggleCardVisibility()">

  <header #placeCardHeader class="placeIntro marB-20">

    <div class="placeName d-f aliI-c jusC-c">

      <h1 class="fleG-1"> {{ placeInfo?.name }} </h1>

      <img class="headerIcon" src="/assets/icons/shareCircleIcon.svg" alt="shareCircleIcon" (click)="hideComponent($event)">

      <img class="headerIcon" src="/assets/icons/closeCircleIcon.svg" alt="closeCircleIcon" (click)="hideComponent($event)">

    </div>

    <span class="smallText"> {{ placeInfo?.type }} . {{ placeInfo?.borough }} , {{ placeInfo?.city }} </span>

  </header>

  <main>

    <div *ngIf="placeInfo?.overview" class="overview padB-10 marB-10 bottomBorder">
      <h6 class="marB-15">Overview</h6>
      <p class="internalCardShape marY-0"> {{ placeInfo?.overview }} </p>
    </div>

    <div *ngIf="placeInfo?.details" class="details marB-15">

      <h6 class="marB-15">Details</h6>

      <div class="internalCardShape detailsInfo marB-15">

        <p *ngFor="let detail of placeInfo?.details" class="placeCardPara detail">

          <img
            [src]="'/assets/icons/' + detail.iconName + '.svg'"
            [alt]="detail.iconName" class="placeCardIcon marR-12"
          >

          <span> {{detail.text}} </span>

        </p>

      </div>

    </div>

    <div class="sectionHolder d-f jusC-c aliI-c">

      <section #imagesSection class="imagesSection padB-10 marB-10 bottomBorder">
        <img
          *ngFor="let img of placeInfo?.images"
          [src]="img"
          alt="imageDescription"
        >
      </section>

    </div>

    <div *ngIf="placeInfo?.usefulInformation" class="usefulInfo marB-15">

      <h6 class="marB-15">Useful Information</h6>

      <div class="internalCardShape info">

        <p *ngFor="let usefulInfo of placeInfo?.usefulInformation" class="placeCardPara usefulInfo">

          <img
            [src]="'/assets/icons/' + usefulInfo.iconName + '.svg'"
            [alt]="usefulInfo.iconName" class="placeCardIcon marR-12"
          >

          <span> {{usefulInfo.text}} </span>

        </p>

      </div>

    </div>

  </main>

  <footer *ngIf="placeInfo?.phoneNumber || placeInfo?.website" class="d-f jusC-spaB aliI-c">

    <div class="cta phone">
      <a *ngIf="placeInfo?.phoneNumber" [href]="'tel:' + placeInfo?.phoneNumber">
        <img src="/assets/icons/phoneIcon.svg" alt="phoneIcon">
      </a>
    </div>

    <div class="cta Website">
      <a *ngIf="placeInfo?.website" [href]="placeInfo?.website" target="_blank">
        <img src="/assets/icons/globeIcon.svg" alt="globeIcon">
      </a>
    </div>

  </footer>

</div>
