<div class="placeCardCom padX-25 padY-30" (click)="toggleCardVisibility()">

  <header #placeCardHeader class="placeIntro marB-20">

    <div class="placeName d-f aliI-c jusC-c">

      <h1 class="fleG-1 texA-c"> {{ placeInfo?.name }} </h1>

      <img class="headerIcon" src="/assets/icons/shareCircleIcon.svg" alt="shareCircleIcon" (click)="hideComponent($event)">

      <img class="headerIcon" src="/assets/icons/closeCircleIcon.svg" alt="closeCircleIcon" (click)="hideComponent($event)">

    </div>

    <span class="brief"> {{ placeInfo?.type }} . {{ placeInfo?.borough }} , {{ placeInfo?.city }} </span>

  </header>

  <main>

    <div class="overview padB-10 bottomBorder">
      <h6 class="marB-15">Overview</h6>
      <p class="internalCardShape marY-0"> {{ placeInfo?.overview }} </p>
    </div>

    <div class="details marT-10 padB-10 bottomBorder">

      <h6 class="marB-15">Details</h6>

      <div class="internalCardShape detailsInfo marB-15">

        <p *ngFor="let detail of placeInfo?.details" class="placeCardPara detail">

          <img
            [src]="'/assets/icons/' + detail.iconName + '.svg'"
            [alt]="detail.iconName" class="placeCardIcon marR-12"
          >

          <span> {{detail.text}} </span>

        </p>

      </div>

      <div class="detailsImages">
        <img
          *ngFor="let img of placeInfo?.images"
          [src]="img"
          alt="imageDescription"
        >
      </div>


    </div>

    <div class="usefulInfo marT-10">

      <h6 class="marB-15">Useful Information</h6>

      <div class="internalCardShape info marB-15">

        <p *ngFor="let usefulInfo of placeInfo?.usefulInformation" class="placeCardPara usefulInfo">

          <img
            [src]="'/assets/icons/' + usefulInfo.iconName + '.svg'"
            [alt]="usefulInfo.iconName" class="placeCardIcon marR-12"
          >

          <span> {{usefulInfo.text}} </span>

        </p>

      </div>

    </div>

  </main>

  <footer class="d-f jusC-spaB aliI-c">

    <div class="cta phone">
      <a [href]="'tel:' + placeInfo?.phoneNumber">
        <img src="/assets/icons/phoneFillIcon.svg" alt="phoneFillIcon">
      </a>
    </div>

    <div class="cta Website">
      <a [href]="placeInfo?.website" target="_blank">
        <img src="/assets/icons/globeIcon.svg" alt="phoneFillIcon">
      </a>
    </div>

  </footer>

</div>


<!-- ! The Logic of the image Slider if they are more than 4 or 5... -->
<!-- ! Hoe Exactly The Line Height Center Te Stuff And How It Work En General -->
