<div 
class="bottomNavCom d-f aliI-c jusC-spaB padY-10 padX-25">

  <a class="home d-flex flex-column align-items-center text-decoration-none" routerLink="/home">
    <img src="/assets/icons/homeIcon.svg" alt="homeIcon">
    <span>{{ "HOME" | translate }}</span>
  </a>

  <a class="profile d-flex flex-column align-items-center text-decoration-none" routerLink="/profile">
    <img src="/assets/icons/H.svg" alt="i don't know yet">
    <span class="empty">  </span>
  </a>

  <a class="more d-flex flex-column align-items-center text-decoration-none" routerLink="/more">
    <img src="/assets/icons/moreIcon.svg" alt="moreIcon">
    <span>{{ "MORE" | translate }}</span>
  </a>

</div>


<!-- ! If I Still Will Use The Transduction For : PROFILE -->