<div
class="bottomNavCom d-f aliI-c jusC-spaB padY-10 padX-25">

  <a class="home d-f fleD-c aliI-c" routerLink="/home">
    <img src="/assets/icons/homeIcon.svg" alt="homeIcon">
    <span>{{ "HOME" | translate }}</span>
  </a>

  <a class="profile d-f fleD-c aliI-c" routerLink="/profile">
    <img src="/assets/icons/H.svg" alt="Logo">
    <span class="empty"> . </span>
  </a>

  <a class="more d-f fleD-c aliI-c" routerLink="/more">
    <img src="/assets/icons/moreIcon.svg" alt="moreIcon">
    <span>{{ "MORE" | translate }}</span>
  </a>

</div>

