<div
class="bottomNavCom d-f aliI-c jusC-spaB padY-10 padX-25">

  <a class="home d-f fleD-c aliI-c" routerLink="/home">
    <img src="/assets/icons/homeIcon.svg" alt="homeIcon" class="img24Px">
    <span>{{ "HOME" | translate }}</span>
  </a>

  <div class="profile d-f fleD-c aliI-c">
    <img src="/assets/icons/H.svg" alt="Logo" class="img24Px">
    <span class="empty"> . </span>
  </div>

  <a class="more d-f fleD-c aliI-c" routerLink="/more">
    <img src="/assets/icons/moreIcon.svg" alt="moreIcon" class="img24Px">
    <span>{{ "MORE" | translate }}</span>
  </a>

</div>
