<div class="mosqueComponent d-f fleD-c">

  <top-nav (clubNameSelected)="clubNameSelected($event)"></top-nav>

  <div class="mosque fleG-1">

    <div class="mosque">

      <header class="mosqueHeader d-f aliI-c marX-25">

          <span class="backArrow">

            <a routerLink="/home/mosques">
              <img src="/assets/icons/backArrowIcon.svg" class="backIcon" alt="backArrowIcon">
            </a>

          </span>

          <h3 class="fw-bold fleG-1">{{ mosque?.name }}</h3>

      </header>

      <main>

        <div class="imagesCollection">

          <div class="mainImage">
            <img [src]="mosque?.images[1]" alt="">
          </div>
          <div class="secondaryImages">
            <img [src]="mosque?.images[2]" alt="">
            <img [src]="mosque?.images[3]" alt="">
            <img [src]="mosque?.images[4]" alt="">
          </div>

        </div>

        <div *ngIf="mosque?.description" class="textInfo marX-25 marT-25 marB-16">

          <p> {{ shortDescription || showWholeDescription ? mosque?.description : (mosque?.description | slice:0:100) + '...' }}</p>
          <button
            *ngIf="!shortDescription"
            class="readMoreButton"
            (click)="showWholeDescription = !showWholeDescription"
          >{{ showWholeDescription ? 'Read Less' : 'Read More' }}</button>


        </div>

        <div *ngIf="mosque?.features" class="features marX-25 padY-16 marB-16">

          <h5>Most Popular Facilities</h5>

          <div class="features-group">

            <div *ngFor="let feature of mosque?.features" class="feature">
              <img [src]="'/assets/icons/'+ feature.iconName + '.svg'" [alt]="feature.iconName" class="icon marR-15">
              <span> {{ feature.text }} </span>
            </div>

          </div>

        </div>

        <div class="viewInMap marX-25 marB-16" (click)="viewInMap(mosque?.name)">
          <div class="imageHolder marB-16">
            <img src="/assets/Images/viewInMap.jpg" alt="map image">
          </div>
          <span>View in map</span>
        </div>

      </main>

      <footer *ngIf="mosque?.phoneNumber || mosque?.website" class="d-f jusC-c aliI-c marX-25">
        <button *ngIf="mosque?.phoneNumber" class="call padY-10 borR-5 fleG-1" (click)="callPhoneNumber(mosque?.phoneNumber)">
          <img src="/assets/icons/phoneIcon.svg" alt="phoneIcon" class="icon">
          Call
        </button>
        <button *ngIf="mosque?.website" class="website padY-10 borR-5 fleG-1" (click)="redirectToWebsite(mosque?.website)">
          <img src="/assets/icons/globeIcon.svg" alt="globeIcon" class="icon">
          Website
        </button>
      </footer>

    </div>

  </div>

</div>

