/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';

/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';


@import 'Scss/Variables';
@import 'Scss/UtilityClasses';


@font-face {
  font-family: 'Radley Sans';
  src: url('/assets/fonts/RadleySans.ttf') format('truetype');
}

@font-face {
  font-family: 'Helvetica';
  src: url('/assets/fonts/Helvetica.ttf') format('truetype');
}

@font-face {
  font-family: 'Helvetica';
  src: url('/assets/fonts/Helvetica-Bold.ttf') format('truetype');
  font-weight: bold;
}

* {
  font-family: 'Helvetica', sans-serif;
}

:root{
  font-size: 62.5%; //=> 16Px * 0.625 = 10Px '1rem = 10Px'
}

html{
  scroll-behavior: smooth;
}

body{
  font-size: 1.4rem; //=> 1.4 * 10Px = 14px
  letter-spacing: 1px;
  background-color: var(--gray-100);
  transition: var(--transition-duration);
  .loginCom{
    // ! SIMPLIFY THIS 1
    input, select, button{
      font-size: 1.4rem;
    }
  }
  .topNavCom{
    // ! SIMPLIFY THIS 1
    select{
      font-size: 1.4rem;
    }
  }
}

*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
}

h1{
  font-size: 2.8rem;
  font-weight: bold;
  color: #FFF;
  letter-spacing: 2px;
}

h2{
  font-size: 2.4rem;
  letter-spacing: 1.75px;
  font-weight: bold;
}

h3{
  font-size: 2.0rem;
  letter-spacing: 1.5px;
  font-weight: bold;
}

h4{
  font-size: 1.8rem;
  font-weight: bold;
}

h5{
  font-size: 1.6rem;
  font-weight: bold;
}

h6{
  font-size: 1.4rem;
  letter-spacing: 1px;
  font-weight: bold;
}

ul{
  padding: 0px;
  margin: 0px;
}

a{
  color: black;
  text-decoration: none;
}

button{
  border: none;
  outline: none;
  letter-spacing: 1px;
}

img.backIcon{
  width: 20px;
  height: 20px;
}

/* Arabic Styling */
[lang="ar"] body .languageEffect{
  direction: rtl;
  select{
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background: none;
    background-image: none;
  }
  .ctaBtn{
    direction: ltr;
  }
}
