/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';

/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';


@import 'Scss/Variables';
@import 'Scss/UtilityClasses';




:root{
  font-size: 62.5%; //=> 16Px * 0.625 = 10Px
}

html{
  scroll-behavior: smooth;
}

body{
  font-size: 1.6rem; //=> 1.6 * 10Px = 16px
  background-color: #E9E9E9;
  transition: var(--transition-duration);
}


*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  transition: .5s;
}

body{
  .loginCom{
    input, select, button{
      font-size: 1.6rem;
    }
  }
}

h1{
  font-size: calc(2.2rem + 1.5vw);
}

h2{
  font-size: calc(2.12rem + 0.9vw);
}

h3{
  font-size: calc(2.08rem + 0.6vw);
}

h4{
  font-size: calc(2.04rem + 0.3vw);
}

h5{
  font-size: 2rem;
}

h6{
  font-size: 1.6rem;
}

ul{
  padding: 0px;
  margin: 0px;
}

a{
  color: white;
}

.features .features-group img{
  margin-right: 15px;
}

/* Arabic Styling */
[lang="ar"] body .languageEffect{
  direction: rtl;
  select{
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background: none;
    background-image: none;
  }
  .ctaBtn{
    direction: ltr;
  }
}

//=> Start Icon Resizinge

img.icon{
  width: 18px;
  height: 18px;
}

img.backIcon{
  width: 21px;
  height: 21px;
}

//=> End Icon Resizing
