<div class="homeComponent d-f flex-column">

  <top-nav (clubNameSelected)="clubNameSelected($event)"></top-nav>

  <div class="map fleG-1" #map>
    <google-map
      [options]="options"
      [center]="centerPosition"
      (mapInitialized)="handleMapInitialized($event)"
      width="100%"
      height="100%"
    >
      <map-marker
        *ngFor="let markerInfo of markerInfos"
        [position]="markerInfo.position"
        [clickable]="true"
        (mapClick)="markerClicked(markerInfo)"
      ></map-marker>
    </google-map>
    <place-card
      #placeCard
      (showCard)="showCard()"
      (showCardHeader)="showCardHeader($event)"
      (hideCard)="hideCard()"
      >
    </place-card>
  </div>

  <bottom-nav></bottom-nav>

</div>

